.modal-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content{
    background: var(--bg-primary);
    padding: 1rem;
    border-radius: 16px;
    max-width: 90%;
    animation: fadeIn 0.3s ease;
}

.modal-img{
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
