.profile-page{
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
}

/*Loader */
.loader-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.spin{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

/*Tabs*/
.profile-tabs{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.tab-btn {
    border: none;
    background: none;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    color: var(--text-muted);
    border-bottom: 2px solid transparent;
}