.profile-page{
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
}

/*Loader */
.loader-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.spin{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to{
        transform: rotate(200deg);
    }
}